.product{
    padding: 20px 100px 20px 100px;
    background:url("../../static//3.jpg")
}
.product-content{
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.product-header{
    text-align: right;
}
.ant-card{
    margin:0 30px 20px 0!important;
    border: 1px solid #000;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px !important;
    transition: all 0.2s; /* 所有的属性变化在0.5s的时间段内完成 */
    word-break: break-word;
    word-wrap: break-word
}
.ant-card:hover{
  transform: scale(1.05); /* 鼠标放到图片上的时候图片按比例放大1.5倍   */
}
.product-top-bottom{
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.anticon-delete svg:hover{
  color:red
}
.product-loading{
  position: absolute;
  left: 50%;
  bottom: 50%;
}
