.project-detail{
  display: flex;
}
.project-detail-select .ant-select,.project-detail-select .ant-select-enabled{
  width: 140px!important;
}
.project-detail-select .ant-select-selection,.project-detail-select .ant-select-selection--single,.project-detail-select .ant-select-selection__rendered{
  height: 44px!important;
  border: 0!important;
  background-color: #f0f2f5!important;
  line-height: 44px!important;
  text-align: center;
}
.project-detail-select .ant-select-open,.project-detail-select .ant-select-selection,.project-detail-select .ant-select-focused
{
  border: none!important;
  box-shadow: none!important;
}
.projectDetail-form-area
{
  width: 80vw;
  height: 100vh;
  margin: 0px auto;
}
.projectDetail-form-area .ant-form-item{
  margin-bottom: 15px;
}
